<h1>Saludo en Rails</h1>
<h2>¡Hola, José Ángel!</h2>
<br>
<%= link_to 'Ir a clientes', controller: 'clientes' %>
<br>
<%= link_to 'Ir a productos', controller: 'productos' %>
<br>
<%= link_to 'Ir a ordenes', controller: 'ordens' %>
<br>
<%= link_to 'Ir a detalle de ordenes', controller: 'detalleordens' %>
